{% set page_name = 'страница статья' %}
{% extends "layouts/layout.html" %} 
{% block css %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
{% endblock %}
{% block content %}
{% include "./parts/breadcrumbs.html" %}
<div class="article-page-top-bg" style="background-image: url(../resources/images/article-page-top-bg.jpg);">
</div>
<section class="article-page">
    <div class="container article-page__container">
        <div class="article-page__top-row">
            <a href="#" class="previous-link article-page__previous-link">
                <svg class="previous-link__icon" width="24" height="12">
                    <use href="../resources/svgSprites/svgSprite.svg#icon-back-white"></use>
                </svg>
            </a>
            <time class="article-page__datetime article-page__datetime--mobile" datetime="2022.06.16">16.06.2022</time>
        </div>
        <h1 class="section-title article-page__section-title">Три варианта расположения валов промышленных редукторов</h1>
        <a href="#" class="article-page__reductor-link">ссылка на редуктор, если нужна</a>
        <div class="article-page__bottom-row">
        <time class="article-page__datetime article-page__datetime--tablet" datetime="2022.06.16">16.06.2022</time>
        <ul role="list" class="article-page__tags-list">
            <li>теги</li>
            <li>теги</li>
            <li>очень длинные теги тоже</li>
        </ul>
        </div>
        <div class="article-page__info">
            <div>
                <p>Промышленные редукторы, такие как R-серия, F-серия, К-серия, ZDY-серия или NMRV-серия, представляют собой закрытые системы, передающие механическую энергию на выходной механизм.</p>
                <p>Эти редукторы могут изменять скорость, крутящий момент и другие параметры, чтобы преобразовать мощность в формат, пригодный для использования в оборудовании. Они могут снижать скорость вращения для увеличения крутящего момента и используются в различных отраслях промышленности.
                </p>
                <p>Расположение валов на мотор-редукторе является местом расположения быстроходного и тихоходного валов. Расположение зависит от положения двигателя и иногда ограничивается физическим пространством размещения. Промышленные редукторы можно описать по расположению валов или по способу монтажа. Сегодня мы рассмотрим различные варианты расположения валов промышленных редукторов: под прямым углом (перекрещивающиеся и пересекающиеся), соосные и параллельные.
                </p>
            </div>
            <article>
                <h2>Прямой угол
                </h2>
                <p>Промышленные редукторы или мотор-редукторы, где оси тихоходного и быстроходного валов имеет пересечение под углом 900 или перекрещиваются под прямым углом. Такие мотор-редукторы и редукторы, как NMRV-серия или серия мотор-редукторов и редукторов типа К, часто используются на конвейерах, погрузочно-разгрузочных работах, асфальтосмесителях и в других областях, где требуется, чтобы приводное оборудование располагалось рядом с приводимым. Такая ориентация также делает угловые мотор-редукторы и редукторы идеальными при использовании большого промышленного агрегата, который монтируется непосредственно на вал.</p>
            </article>
            <article>
                <h2>Соосные</h2>
                <p>Соосные мотор-редукторы или редукторы обычно называют «рядными». Это расположение валов низкой и высокой скорости находящихся в одной и той же вертикальной и горизонтальной плоскостях. Эти промышленные редукторы, включая R-серию и 3МП-серию, позволяют размещать несколько блоков в ряд благодаря прямолинейному расположению их валов. Их способность обеспечивать высокие входные скорости с минимальным люфтом делают редукторы с соосными валами идеальными для металлообрабатывающих станков. Это весьма масштабная отрасль машиностроения, требующая значительных приводных мощностей. Применение более дешевых червячных редукторов <a href="#">NMRV-серии</a> для этой цели невозможно, так как в них трение скольжения, а не качения.
                </p>
                <picture class="article-page__info-picture">
                  <img src="/resources/images/article-page-info-img.png" loading="lazy" decoding="async" alt="image" class="article-page__info-img" width="344" height="184">
                </picture>
            </article>
            <article>
                <h2>Параллельные</h2>
                <p>Мотор-редукторы или редукторы с параллельными валами представляют собой третий тип расположения валов, в котором быстроходный и тихоходный валы находятся на одной и той же горизонтальной плоскости и располагаются параллельно друг другу. Промышленные редукторы, как плоско-цилиндрические F-серии и горизонтальные редукторы ZDY-серии, как правило, выбирают для высокого крутящего момента, высокопроизводительных приложений мощностей.
                </p>
                <p>
                    Основная причина, по которой вы будете различать соосные, параллельные или прямоугольный расположения валов при выборе промышленного редуктора, зависит от ограниченного пространства в вашей системе. Если вам потребуется помощь, квалифицированные инженеры Mammoh и специалисты по мотор-редукторам всегда готовы помочь.
                </p>
                <p>
                    В Mammoh мы работаем рука об руку с нашими клиентами, чтобы их промышленные редукторы, мотор-редукторы и комплектующие оставались в исправном состоянии на долгие годы. Многие из наших продуктов годами эксплуатируются в высоконагруженных и суровых условиях. Клиенты переходят на Mammoh, чтобы испытать эту надежность и уменьшить количество внеплановых простоев и технического обслуживания на своем предприятии.
                </p>
            </article>
        </div>
    </div>
</section>
<section class="more-articles">
    <div class="container more-articles__container">
        <h2 class="section-title more-articles__section-title">Больше статей</h2>
        <div class="swiper more-articles__slider">
            <ul class="swiper-wrapper more-articles__slider-list" role="list">
                <li class="swiper-slide more-articles__slider-list-item">
                    <a href="#" class="more-articles__slider-link"></a>
                    <figure class="more-articles__slider-card">
                      <picture class="more-articles__slider-card-picture">
                        <img loading="lazy" decoding="async" src="/resources/images/more-articles-img-1.png" alt="image" width="200" height="200" class="more-articles__slider-card-img">
                      </picture>
                      <figcaption class="more-articles__slider-card-figcaption">
                        <ul role="list" class="more-articles__tags-list">
                            <li>редукторы</li>
                            <li>промышленность</li>
                            <li>еще какой-то тег</li>
                        </ul>
                        <h3 class="more-articles__slider-card-title">Три варианта расположения валов промышленных редукторов</h3>
                        <time class="more-articles__datetime" datetime="2022.09.08">09.08.2022</time>
                      </figcaption>
                    </figure>
                </li>
                <li class="swiper-slide more-articles__slider-list-item">
                    <figure class="more-articles__slider-card">
                      <picture class="more-articles__slider-card-picture">
                        <img loading="lazy" decoding="async" src="/resources/images/more-articles-img-2.png" alt="image" width="200" height="200" class="more-articles__slider-card-img">
                      </picture>
                      <figcaption class="more-articles__slider-card-figcaption">
                        <ul role="list" class="more-articles__tags-list">
                            <li>редукторы</li>
                            <li>промышленность</li>
                            <li>еще какой-то тег</li>
                        </ul>
                        <h3 class="more-articles__slider-card-title">Три варианта расположения валов промышленных редукторов</h3>
                        <time class="more-articles__datetime" datetime="2022.09.08">09.08.2022</time>
                      </figcaption>
                    </figure>
                </li>
                <li class="swiper-slide more-articles__slider-list-item">
                    <figure class="more-articles__slider-card">
                      <picture class="more-articles__slider-card-picture">
                        <img loading="lazy" decoding="async" src="/resources/images/more-articles-img-3.png" alt="image" width="200" height="200" class="more-articles__slider-card-img">
                      </picture>
                      <figcaption class="more-articles__slider-card-figcaption">
                        <ul role="list" class="more-articles__tags-list">
                            <li>редукторы</li>
                            <li>промышленность</li>
                            <li>еще какой-то тег</li>
                        </ul>
                        <h3 class="more-articles__slider-card-title">Три варианта расположения валов промышленных редукторов</h3>
                        <time class="more-articles__datetime" datetime="2022.09.08">09.08.2022</time>
                      </figcaption>
                    </figure>
                </li>
                <li class="swiper-slide more-articles__slider-list-item">
                    <figure class="more-articles__slider-card">
                      <picture class="more-articles__slider-card-picture">
                        <img loading="lazy" decoding="async" src="/resources/images/more-articles-img-4.png" alt="image" width="200" height="200" class="more-articles__slider-card-img">
                      </picture>
                      <figcaption class="more-articles__slider-card-figcaption">
                        <ul role="list" class="more-articles__tags-list">
                            <li>редукторы</li>
                            <li>промышленность</li>
                            <li>еще какой-то тег</li>
                        </ul>
                        <h3 class="more-articles__slider-card-title">Три варианта расположения валов промышленных редукторов</h3>
                        <time class="more-articles__datetime" datetime="2022.09.08">09.08.2022</time>
                      </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js';

    const moreArticlesSlider = new Swiper('.more-articles__slider', {
        init: false,
        breakpoints: {
    1200: {
        slidesPerView: 'auto',
        loop: true,
        loopedSlides: 3,
      spaceBetween: 20,
    },
    1920: {
        spaceBetween: 24,
    }
  }
    });

    if(window.innerWidth >= 1200) {
        moreArticlesSlider.init();
    }
  

  </script>
{% endblock %}
